<ion-content class="ion-text-center">
    <ion-grid>
		<ion-row>
			<ion-col>
				<ion-img src="assets/logo2.png"></ion-img>
				<h5>
					Find services & professionals
					without the hassle
				</h5>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
			<ion-button class="button-size center-button" expand="block" [routerLink]="['/login']"  >Let's started</ion-button>
			<div class="m-top"><span>Don't have an account? <a [routerLink]="['/register']" >Sign up</a></span></div>
			</ion-col>
		</ion-row>
    </ion-grid>
</ion-content>