<ion-header class="ion-no-border">
	<ion-toolbar [appHideheader]="scrollArea">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/security"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content #scrollArea scrollEvents="true">
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button [routerLink]="['/booking', company]">
			<ion-icon name="calendar"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-grid>
		<ion-row>
			<ion-col class="ion-profile ion-text-center">
				<ion-avatar>
					<img src="assets/security2.png" />
				</ion-avatar>
				<h5>
					SECOM SECURITY INFORMATION
					<ion-icon
						
						class="icon-verified"
						name="checkmark-circle"
					></ion-icon>
				</h5>
				<small 
					>Verified professional</small
				>
				<p>
					Secom (Malaysia) is proud to announce our business model as we conduct consistent management from research and development to installation work, monitoring, and emergency response  measures to provide top quality service. We are not a supplier but a Security Solutions Provider. Therefore, the approach always starts from proper security planning to prevent criminality and threat on your premise.
				</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-segment [(ngModel)]="valueType">
				<ion-segment-button value="info">
					Info
				</ion-segment-button>

        <ion-segment-button value="gallery">
					Gallery
				</ion-segment-button>
				
				<ion-segment-button value="reviews">
					Reviews
				</ion-segment-button>
			</ion-segment>
		</ion-row>
		<div [ngSwitch]="valueType">
			<ion-grid *ngSwitchCase="'info'">
				<ion-row>
					<ion-col>
						<div class="info-list">
							<p>Services</p>
							<ion-list>
								<ion-item lines="none">
									<ion-label>Center Monitoring Services</ion-label>
									<div class="rate">
										<p>RM300</p>
										<span>per event</span>
									</div>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Emergency Response</ion-label>
									<div class="rate">
										<p>RM400</p>
										<span>per event</span>
									</div>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Security Management</ion-label>
									<div class="rate">
										<p>RM500</p>
										<span>per event</span>
									</div>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Remote CCTV</ion-label>
									<div class="rate">
										<p>RM500</p>
										<span>per event</span>
									</div>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Security Audit</ion-label>
									<div class="rate">
										<p>RM400</p>
										<span>per event</span>
									</div>
								</ion-item>
							</ion-list>
						</div>

						<div class="l">
							<p>Services Hours</p>
							<ion-list>
								<ion-item lines="none">
									<ion-label>Mondays</ion-label>
									<small slot="end">8:00AM to 10:00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Tuesdays</ion-label>
									<small slot="end">8:00AM to 10:00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Wednesdays</ion-label>
									<small slot="end">8:00AM to 10:00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Thursdays</ion-label>
									<small slot="end">8:00AM to 10:00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Fridays</ion-label>
									<small slot="end">2.00PM to 10:00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Saturdays</ion-label>
									<small slot="end">10:00AM to 10.00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Sundays</ion-label>
									<small slot="end">Closed</small>
								</ion-item>
							</ion-list>
						</div>
						<div class="l">
							<p>Contact Info</p>
							<ion-list>
								<ion-item lines="none">
									<ion-label>marketing@secom.com.my</ion-label>
								</ion-item>
								<ion-item lines="none">
									<ion-label>03-7843 2000</ion-label>
								</ion-item>
							</ion-list>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>

      <ion-grid *ngSwitchCase="'gallery'">
				<ion-slides [options]="option" class="ion-margin-top">

          <ion-slide >
            <ion-card class="slide1">
            <img src="assets/security/s5.jfif"  class="img1"/>
            
          
            </ion-card>
          </ion-slide>
        
          <ion-slide>
            <ion-card class="slide2">
            <img src="assets/security/s6.jfif"  class="img2"/>
            
            
            </ion-card>
          </ion-slide>
        
          <ion-slide>
            <ion-card class="slide3">
            <img src="assets/security/s7.jfif"  class="img3"/>
            
            
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="slide3">
            <img src="assets/security/s8.jfif"  class="img3"/>
            
            
            </ion-card>
          </ion-slide>
    
         
        

          </ion-slides>
        </ion-grid>
			
			<ion-grid *ngSwitchCase="'reviews'">
				<ion-row>
					<ion-col>
						<!-- review list-->
						<div class="review-container">
							<p>68 <small>reviews</small></p>
							<ion-item lines="none">
								<ion-progress-bar
									color="primary"
									value=".8"
								></ion-progress-bar>
								<span slot="end"> 5 stars</span>
							</ion-item>
							<ion-item lines="none">
								<ion-progress-bar
									color="primary"
									value=".8"
								></ion-progress-bar>
								<span slot="end"> 4 stars</span>
							</ion-item>
							<ion-item lines="none">
								<ion-progress-bar
									color="primary"
									value=".4"
								></ion-progress-bar>
								<span slot="end"> 3 stars</span>
							</ion-item>
							<ion-item lines="none">
								<ion-progress-bar
									color="primary"
									value=".1"
								></ion-progress-bar>
								<span slot="end"> 2 stars</span>
							</ion-item>
							<ion-item lines="none">
								<ion-progress-bar
									color="primary"
									value=".1"
								></ion-progress-bar>
								<span slot="end"> 1 stars</span>
							</ion-item>
						</div>
						
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</ion-grid>
</ion-content>
