.card-title {
    font-size: 11pt;
    color: #223e5c;
    white-space: normal;
  }
  
  .card-subtitle {
    color: #a6b0bf;
    font-size: 10pt;
    font-weight: 400;
  }
  
  ion-card-content {
    font-size: 11pt;
    font-weight: 400;
    color: rgba(34, 62, 92, 0.8);
  }
  
  .you-pay {
      list-style: none;
      margin: 0 0 0 10px;
      padding: 0;
      text-align: end;
      width: fit-content;
  
      li:nth-child(1) {
        color: #f7685b;
        font-size: 10px;
      }
  
      li:nth-child(2) {
        font-size: 11pt;
        font-weight: 600;
      }
    }
  
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: #fff;
  }
  
  
  .cta-buttons {
    display: flex;
    justify-content: space-evenly;
  
    ion-button {
      margin: 0.5em 0.5em 1.5em;
      text-transform: capitalize;
      font-weight: 500;
      padding: 0 1em;
    }
  
    .btn-green {
      background: #21a472;
      border-radius: 6px;
      color: #fff;
    }
  
    .btn-green-outline {
      border: 1px solid #21a472;
      border-radius: 6px;
      color: #21a472;
    }
  }
  