<ion-header class="ion-no-border">
	<ion-toolbar [appHideheader]="scrollArea">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/electrical"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content #scrollArea scrollEvents="true">
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button [routerLink]="['/booking', company]">
			<ion-icon name="calendar"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-grid>
		<ion-row>
			<ion-col class="ion-profile ion-text-center">
				<ion-avatar>
					<img src="assets/electrical3.png" />
				</ion-avatar>
				<h5>
					DEC CONTRACT
					<ion-icon
						
						class="icon-verified"
						name="checkmark-circle"
					></ion-icon>
				</h5>
				<small 
					>Verified professional</small
				>
				<p>
					Our professional electrical engineering Malaysia electricians are experienced, skillful and well-equipped with related knowledge that help us to minimize the potential lead to hazards and any other unavoidable circumstances while conducting the electrical tasks
				</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-segment [(ngModel)]="valueType">
				<ion-segment-button value="info">
					Info
				</ion-segment-button>

        <ion-segment-button value="gallery">
					Gallery
				</ion-segment-button>
				
				<ion-segment-button value="reviews">
					Reviews
				</ion-segment-button>
			</ion-segment>
		</ion-row>
		<div [ngSwitch]="valueType">
			<ion-grid *ngSwitchCase="'info'">
				<ion-row>
					<ion-col>
						<div class="info-list">
							<p>Services</p>
							<ion-list>
								<ion-item lines="none">
									<ion-label>Air Conditioner</ion-label>
									<div class="rate">
										<p>RM350</p>
										<span>per unit</span>
									</div>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Landscape Lightning</ion-label>
									<div class="rate">
										<p>RM500</p>
										<span>per unit</span>
									</div>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Distribution Box</ion-label>
									<div class="rate">
										<p>RM400</p>
										<span>per phase</span>
									</div>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Ceiling Fan With Light</ion-label>
									<div class="rate">
										<p>RM200</p>
										<span>per unit</span>
									</div>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Telephone Wiring</ion-label>
									<div class="rate">
										<p>RM200</p>
										<span>per unit</span>
									</div>
								</ion-item>
							</ion-list>
						</div>

						<div class="info-list">
							<p>Services Hours</p>
							<ion-list>
								<ion-item lines="none">
									<ion-label>Mondays</ion-label>
									<small slot="end">8:00AM to 10:00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Tuesdays</ion-label>
									<small slot="end">8:00AM to 10:00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Wednesdays</ion-label>
									<small slot="end">8:00AM to 10:00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Thursdays</ion-label>
									<small slot="end">8:00AM to 10:00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Fridays</ion-label>
									<small slot="end">2.00PM to 10:00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Saturdays</ion-label>
									<small slot="end">10:00AM to 10.00PM</small>
								</ion-item>
								<ion-item lines="none">
									<ion-label>Sundays</ion-label>
									<small slot="end">Closed</small>
								</ion-item>
							</ion-list>
						</div>
						<div class="info-list">
							<p>Contact Info</p>
							<ion-list>
								<ion-item lines="none">
									<ion-label>info@deccontract.com.my</ion-label>
								</ion-item>
								<ion-item lines="none">
									<ion-label>03-92268777</ion-label>
								</ion-item>
							</ion-list>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>

      <ion-grid *ngSwitchCase="'gallery'">
				<ion-slides [options]="option" class="ion-margin-top">

          <ion-slide >
            <ion-card class="slide1">
            <img src="assets/electrical/e9.jfif"  class="img1"/>
            
          
            </ion-card>
          </ion-slide>
        
          <ion-slide>
            <ion-card class="slide2">
            <img src="assets/electrical/e10.jfif"  class="img2"/>
            
            
            </ion-card>
          </ion-slide>
        
          <ion-slide>
            <ion-card class="slide3">
            <img src="assets/electrical/e11.jfif"  class="img3"/>
            
            
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="slide3">
            <img src="assets/electrical/e12.jfif"  class="img3"/>
            
            
            </ion-card>
          </ion-slide>
    
         
        

          </ion-slides>
        </ion-grid>
			
			<ion-grid *ngSwitchCase="'reviews'">
				<ion-row>
					<ion-col>
						<!-- review list-->
						<div class="review-container">
							<p>300 <small>reviews</small></p>
							<ion-item lines="none">
								<ion-progress-bar
									color="primary"
									value="1"
								></ion-progress-bar>
								<span slot="end"> 5 stars</span>
							</ion-item>
							<ion-item lines="none">
								<ion-progress-bar
									color="primary"
									value=".9"
								></ion-progress-bar>
								<span slot="end"> 4 stars</span>
							</ion-item>
							<ion-item lines="none">
								<ion-progress-bar
									color="primary"
									value=".1"
								></ion-progress-bar>
								<span slot="end"> 3 stars</span>
							</ion-item>
							<ion-item lines="none">
								<ion-progress-bar
									color="primary"
									value=".0"
								></ion-progress-bar>
								<span slot="end"> 2 stars</span>
							</ion-item>
							<ion-item lines="none">
								<ion-progress-bar
									color="primary"
									value=".1"
								></ion-progress-bar>
								<span slot="end"> 1 stars</span>
							</ion-item>
						</div>
						
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</ion-grid>
</ion-content>
